version: "3.9"

services:
  bot:
    build: .
    command: python -m bot.bot
    env_file:
      - .env
    volumes:
      - ./:/app
      - state_data:/app/data

  api:
    build: .
    command: uvicorn api.api:app --host 0.0.0.0 --port 8000
    env_file:
      - .env
    volumes:
      - ./:/app
      - state_data:/app/data
    ports:
      - "8000:8000"

volumes:
  state_data:
